* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
    outline: none;
    border: none; 
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

a {
    text-decoration: none;
}

section {
    padding: 4rem 10%;
}

.onscroll {
    background-color: black;
}

.header {
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar a {
    font-size: 2.5rem;
    color: white;
    /* color: rgb(0, 255, 242); */
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border-right: 0.2rem solid rgb(0, 255, 242);
    border-left: 0.2rem solid rgb(0, 255, 242); */
}

.projects-a,
.skills-a,
.contact-a {
    border-left: 0.2rem solid white;
}



.navbar a:hover {
    cursor: pointer;
    /* color: white; */
    color: rgb(0, 255, 242);
}

.main {
    height: 90vh;
    background: url('../images/atl-3.jpg');
    background-size: cover;
    background-position: center;
    background-position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-div {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5rem;
    margin-left: 5rem;
}

.header-div h1 {
    /* font-size: 12rem;
    color: white;
    position: absolute; */
    /* left: -80rem;
    top: 20rem;
    width: 100rem; */
    text-align: center;
    font-size: 12rem;
    color: white;
}

.header-div h1:hover {
    color: rgb(0, 255, 242);
}

.about {
    margin-top: 10rem;
}

.section-heading {
    font-size: 4rem;
    margin-top: 3rem;
}

.about .box-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-jr {
    margin-bottom: 4rem;
    text-align: center;
}

.box-left {
    border: 0.1rem solid rgb(0, 255, 242);
    padding: 2rem;
    border-radius: 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
 

/* .about .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.about .box-container .box-left p {
    font-size: 2.0rem;
    line-height: 2.5rem;
    max-width: 70rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about .box-container .box img {
    height: 40rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 4rem;
    border: 0.3rem solid rgb(0, 255, 242);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.header-div-2 {
    border-bottom: 0.3rem solid rgb(0, 255, 242);
    width: 30rem;
    /* display: flex;
    align-self: center; */
    margin: 0 auto;
}

.projects {
    background-color: rgb(235, 235, 235);
    margin-top: 10rem;
}

.projects-header {
    font-size: 5rem;
    text-align: center;
    margin-top: 10rem;
}

.projects-box-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-box {
    display: flex;
    flex-direction: row;
    width: 110rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    border-radius: 4rem;
    background-color: white;
    margin-bottom: 5rem;
}

.projects-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    width: 50rem;
    border-radius: 2rem;
}

.projects-box-left,
.projects-box-right {
    padding: 3rem;
}

.projects-box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4rem;
}

.projects-box-right h2 {
    font-size: 3rem;
    align-self: center;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 242);
}

.projects-box-right p {
    font-size: 2rem;
}

.button-div {
    display: flex;
    justify-content: center;
}

.projects-box-right button {
    padding: 2rem 3rem;
    background-color: black;
    color: rgb(0, 255, 242);
    border-radius: 2rem;
}

.projects-box-right button:hover {
    cursor: pointer;
}

.repo-button {
    margin-right: 2rem;
}

.website-button {
    margin-left: 2rem;
}